/* Common */
.midline-search-wide .YNk70c {
	grid-template-columns: minmax(0, 1fr) repeat(20, 36px) minmax(0, 1fr) !important;
}
.midline-search-wide .YNk70c .P3mIxe {
	grid-column: 2 / -2;
	margin-left: 15%;
}
/* Tab-specific #center_col grid overrides */
.midline-search-wide:not(.midline-search-tab-images) #rcnt #center_col {
	grid-column: 6 / span 12;
}
.midline-search-wide.midline-search-tab-images #rcnt #center_col {
	grid-column: 1 / -1;
}
.midline-search-wide.midline-search-tab-short-videos #rcnt #center_col {
	grid-column: 4 / span 12;
}
.midline-search-wide #fbar .fbar > *,
.midline-search-wide #fbar .GeEc1b {
	display: flex;
	justify-content: center;
}

/* Shopping */
.midline-search-wide.midline-search-tab-shopping .sBbkle {
	margin-left: 0 !important;
}
.midline-search-wide.midline-search-tab-shopping .xhjkHe {
	max-width: 100% !important;
}
.midline-search-wide.midline-search-tab-shopping .qogDvd,
.midline-search-wide.midline-search-tab-shopping .NDnoQ {
	justify-content: center !important;
	padding-left: 0 !important;
}
.midline-search-wide.midline-search-tab-shopping .qogDvd {
	width: 100% !important;
}
.midline-search-wide.midline-search-tab-shopping .KpqFHb {
	margin-inline: auto !important;
}

/* Books */
.midline-search-wide.midline-search-tab-books #hdtbMenus .y6UnXe {
	padding-left: 10%;
}
